{% extends 'base.html' %}

{% block content %}
    <form method="post" action="">
        {% csrf_token %} 
          <div class="">
            <label for="email">Email</label>
            <br>
            <input class="form-control" type="text" placeholder="email" name="email">
          </div>
          <br>
          <div class="">
            <label for="email">Password</label>
            <input class="form-control" type="password" placeholder="password" name="password">
          </div>

          <br>
            <button type="submit" name="login" class="btn btn-primary btn-block">Sign In</button>
            <a href="/app/register">Register Here!</a>
        </form>
{% endblock  %}